* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.inline-block {
    display: inline-block;
}

#fixed {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}

/* Cascading Style Sheet */
/* 선택자(selector) */
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.relative {
    position: relative;
}

.center-align {
    margin: 0 auto;
    width: 1080px;
}

header {
    height: 170px;
}

#header-top {
    float: right;
    margin-top: 8px;
}

#header-top span {
    color: #888;
    letter-spacing: -1px;
    font-size: 11px;
    line-height: 22px;
}

#header-search {
    clear: both;
    padding-top: 45px;
}

#header-search a {
    text-decoration: none;
}

#header-search h1 {
    width: 198px;
    height: 48px;
    display: inline-block;
    /*background-image: url(./sp_search.png);*/
    /*background-position: -4px -10px;*/
    /*background-repeat: no-repeat;*/
    background: url(./sp_search.png) -4px -4px no-repeat;
    vertical-align: middle;
    position: relative;
    top: -5px;
    left: 1px;
}

#header-search h1 span {
    display: none;
}

#header-search h2 {
    display: none;
}

#header-search fieldset {
    margin-left: 18px;
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    /*padding-left: 10px;*/
    /*padding-right: 0;*/
    padding: 12px 0 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d; /* hex */
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    vertical-align: top;
    width: 395px;
    height: 23px;
}

#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;
    right: -2px;
    top: -2px;
}

#search-keyboard {
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
    background-repeat: no-repeat;
    background-position: -33px -60px;
    width: 19px;
    height: 11px;
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
}

#search-history {
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
    background-repeat: no-repeat;
    background-position: -87px -60px;
    width: 9px;
    height: 4px;
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
}

#search-image {
    background-image: url(./sp_search.png);
    background-position: -3px -60px;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin: 14px;
}

nav {
    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 16px 0 0 4px;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav li:first-child span:first-child {
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0;
}

nav li span:first-child {
    height: 16px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
    background-repeat: no-repeat;
    margin-left: 10px;
}

nav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
    width: 25px;
    background-position: -70px -285px;
}

nav li:nth-child(7) span:first-child {
    width: 35px;
    background-position: -125px -130px;
}

nav li:nth-child(8) span:first-child {
    width: 26px;
    background-position: -279px -208px;
}

nav li:nth-child(9) span:first-child {
    width: 26px;
    background-position: -128px -104px;
}

nav li:nth-child(10) span:first-child {
    width: 26px;
    background-position: -36px -259px;
}

nav li:nth-child(11) span:first-child {
    width: 39px;
    background-position: -151px -156px;
}

nav li:nth-child(12) span:first-child {
    width: 26px;
    background-position: -279px -130px;
}

nav li:nth-child(13) span:first-child {
    width: 26px;
    background-position: -234px -233px;
}

nav li:nth-child(14) span:first-child {
    width: 26px;
    background-position: -72px -259px;
}

nav li:nth-child(15) span:first-child {
    width: 13px;
    background-position: -140px -78px;
}

nav li:nth-child(16) span:first-child {
    width: 26px;
    background-position: -279px 0;
}

nav li.more:first-child span:first-child {
    width: 55px;
    background-position: 0 -104px;
}

.nav-divider {
    display: inline-block;
    margin: 18px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}

#search-ranking {
    position: absolute;
    top: 16px;
    right: 100px;
}

#rank-number {
    margin-top: -9px;
    color: #00ab33;
    font-size: 16px;
}

#rank-title {
    letter-spacing: -1px;
    font-size: 14px;
}

main {
    background-color: #f2f4f7;
    display: inline-block;
    width: 100%;
}

#main-centered {
    padding: 8px 10px;
    width: 1100px;
}

#main-first-block {
    display: inline-block;
    width: 100%;
}

#main-ad {
    float: left;
    width: 740px;
    height: 120px;
    background: #555;
    margin-right: 8px;
    margin-bottom: 8px;
}

#main-login {
    float: left;
    width: 332px;
    height: 120px;
    vertical-align: top;
    background-color: white;
    margin-bottom: 8px;
}

#main-second-block .inline-block:first-child {
    width: 740px;
}

#main-second-block .inline-block:last-child {
    width: 332px;
    vertical-align: top;
}

#main-ytn {
    display: inline-block;
    width: 740px;
    height: 46px;
    background-color: white;
    margin-right: 8px;
    margin-bottom: 8px;
}

#main-ytn h3,
#main-ytn ol {
    display: inline-block;
}

#main-newsstand {
    display: inline-block;
    width: 740px;
    height: 246px;
    background-color: white;
    margin-right: 8px;
    margin-bottom: 8px;
}

#main-newsstand h3 {
    height: 45px;
    border-bottom: 1px solid #ebeef3;
}

#main-newsstand ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-newsstand li {
    float: left;
    width: 123px;
    height: 67px;
    border-right: 1px solid #f1f3f6;
    border-bottom: 1px solid #f1f3f6;
    text-align: center;
}

#main-newsstand li img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#main-weather {
    display: inline-block;
    width: 332px;
    height: 142px;
    background-color: white;
    margin-bottom: 8px;
}

#main-second-ad {
    display: inline-block;
    width: 332px;
    height: 150px;
    background: #555;
    margin-bottom: 8px;
}

#main-category {
    float: left;
    width: 740px;
    height: 837px;
    background: white;
    margin-bottom: 8px;
    margin-right: 8px;
}

#main-shopping {
    float: left;
    width: 332px;
    height: 837px;
    background: white;
    margin-bottom: 8px;
}

#main-third-block,
#main-fourth-block {
    display: inline-block;
    width: 100%;
}

#main-event {
    float: left;
    width: 740px;
    height: 130px;
    background: white;
    vertical-align: top;
    margin-right: 8px;
}

#main-third-ad {
    float: left;
    width: 332px;
    height: 130px;
    background: #555;
}
